/* styles.css */

/* Genel Stil */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
}

/* Navbar Özelleştirmesi */
.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
}

.nav-link.btn {
    padding: 0.5rem 1rem;
}

/* Banner Özelleştirmesi */
/* Banner Özelleştirmesi */
.p-5 {
    background-image: url('dersane1.jpeg'); /* Banner için arka plan resmi */
    background-size: cover;
    background-position: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.6);
    padding: 3rem; /* Adjust padding for more space */
}

/* Text size adjustments */
.p-5 h1 {
    font-size: 3rem;
}

.p-5 p {
    font-size: 1.25rem;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    /* Smaller screen adjustments */
    .p-5 {
        padding: 2rem; /* Decrease padding on smaller screens */
    }

    .p-5 h1 {
        font-size: 2rem; /* Reduce font size for mobile */
    }

    .p-5 p {
        font-size: 1rem; /* Adjust paragraph text size */
    }
}

@media (max-width: 576px) {
    /* For very small screens */
    .p-5 {
        padding: 1.5rem; /* Further reduce padding */
    }

    .p-5 h1 {
        font-size: 1.5rem; /* Smaller font size for smaller screens */
    }

    .p-5 p {
        font-size: 0.9rem; /* Smaller paragraph text */
    }
}

/* Dershane Kartları */
.dershane-card {
    height: 400px; /* Adjust this value as needed for your design */
}

.card-img-top {
    padding-top: 5%;
    max-height: 400px; /* Controls the image height */
    width: 100%; /* Ensures the image fills the card width */
    object-fit: contain; /* Ensures the image is scaled without being cut off */
}


.dershane-card .btn {
    align-self: center;
}

/* Footer Özelleştirmesi */
footer {
    position: relative;
}

/* Detay Sayfası İçin Stil */
.card-body h3 {
    margin-bottom: 20px;
}

.card-body p {
    margin-bottom: 10px;
}

.card-body a {
    text-decoration: none;
}

.card-body a:hover {
    text-decoration: underline;
}

/* Yeni Filtreleme Bölümü Stilleri */
.form-check {
    margin-bottom: 5px;
}
